
<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="The Curriculum Vitae of Thomas Hardy a Web Developer based in Newcastle upon Tyne (UK)."/>
    <meta charset="UTF-8">

    {% block stylesheets %}
        <style>
            body, html { width: 100%; height: 100%; }
            #column-1 {
                width: 30%;
                float: left;
                min-height: 100%;
            }

            #column-2 {
                width: 30%;
                min-height: 100%;
                float: left;
            }
            #column-3 {
                width: 40%;
                min-height: 100%;
                float: left;
            }
        </style>
        <style>
            html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
                border:0;
                font:inherit;
                font-size:100%;
                margin:0;
                padding:0;
                vertical-align:baseline;
            }

            article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
                display:block;
            }

            html, body {background:  #f3f3f3; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

            .clear {clear: both;}

            p {
                font-size: 1em;
                line-height: 1.4em;
                margin-bottom: 20px;
                color: #444;
            }

            #cv {
                width: 90%;
                max-width: 800px;
                background: #f3f3f3;
                margin: 30px auto;
            }

            .mainDetails {
                padding: 25px 35px;
                border-bottom: 2px solid #cf8a05;
                background: #ededed;
            }

            #name h1 {
                font-size: 2.5em;
                font-weight: 700;
                font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
                margin-bottom: -6px;
            }

            #name h2 {
                font-size: 2em;
                margin-left: 2px;
                font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
            }

            #mainArea {
                padding: 0 40px;
            }

            #headshot {
                width: 12.5%;
                float: left;
                margin-right: 30px;
            }

            #headshot img {
                width: 100%;
                height: auto;
                -webkit-border-radius: 50px;
                border-radius: 50px;
            }

            #name {
                float: left;
            }

            #contactDetails {
                float: right;
            }

            #contactDetails ul {
                list-style-type: none;
                font-size: 0.9em;
                margin-top: 2px;
            }

            #contactDetails ul li {
                margin-bottom: 3px;
                color: #444;
            }

            #contactDetails ul li a, a[href^=tel] {
                color: #444;
                text-decoration: none;
                -webkit-transition: all .3s ease-in;
                -moz-transition: all .3s ease-in;
                -o-transition: all .3s ease-in;
                -ms-transition: all .3s ease-in;
                transition: all .3s ease-in;
            }

            #contactDetails ul li a:hover {
                color: #cf8a05;
            }


            .section {
                border-top: 1px solid #dedede;
                padding: 20px 0 0;
            }

            .section:last-child {
                padding: 20px 0 10px;
            }

            .firstSection {
                border-top: 0;
            }

            .sectionTitle {
                float: left;
                width: 25%;
            }

            .sectionContent {
                float: right;
                width: 72.5%;
            }

            .sectionTitle h1 {
                font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
                font-style: italic;
                font-size: 1.5em;
                color: #cf8a05;
            }

            .sectionContent h2 {
                font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
                font-size: 1.5em;
                margin-bottom: -2px;
            }

            .subDetails {
                font-size: 0.8em;
                font-style: italic;
                margin-bottom: 3px;
            }

            .keySkills {
                list-style-type: none;
                -moz-column-count:3;
                -webkit-column-count:3;
                column-count:3;
                margin-bottom: 20px;
                font-size: 1em;
                color: #444;
            }

            .keySkills ul li {
                margin-bottom: 3px;
            }

            .topLink {
                text-align: center;
                padding-bottom: 20px;
            }

            .topLink a {
                color: #bbb;
                text-decoration: none;
                -webkit-transition: all .5s ease-in;
                -moz-transition: all .5s ease-in;
                -o-transition: all .5s ease-in;
                -ms-transition: all .5s ease-in;
                transition: all .5s ease-in;
            }

            .topLink a:hover {
                color: #888;
            }

            .instaFade {
                -webkit-animation-name: reset, fade-in;
                -webkit-animation-duration: 1.5s;
                -webkit-animation-timing-function: ease-in;

                -moz-animation-name: reset, fade-in;
                -moz-animation-duration: 1.5s;
                -moz-animation-timing-function: ease-in;

                animation-name: reset, fade-in;
                animation-duration: 1.5s;
                animation-timing-function: ease-in;
            }

            .quickFade {
                -webkit-animation-name: reset, fade-in;
                -webkit-animation-duration: 2.5s;
                -webkit-animation-timing-function: ease-in;

                -moz-animation-name: reset, fade-in;
                -moz-animation-duration: 2.5s;
                -moz-animation-timing-function: ease-in;

                animation-name: reset, fade-in;
                animation-duration: 2.5s;
                animation-timing-function: ease-in;
            }


        </style>
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body id="top">
<section id="cv" class="instaFade">
    <div class="mainDetails">

        <div id="name">
            <h1 class="quickFade delayTwo">Plaksina Anna</h1>
            <h2 class="quickFade delayThree">Backend Developer</h2>
        </div>

        <div id="contactDetails" class="quickFade delayFour">
            <ul>
                <li>e: <a href="mailto:thomas@thomashardy.me.uk" target="_blank">anneta.plaksina@yandex.ru</a></li>
                <li>w: <a href="http://www.thomashardy.me.uk">www.thomashardy.me.uk</a></li>
                <li>m: 89610601456</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div id="mainArea" class="quickFade delayFive">
        <div class="section firstSection">
            <div class="sectionTitle">
                <h1>Personal Profile</h1>
            </div>

            <div class="sectionContent">
                <p>I am a novice backend developer. I would like to be able to use my knowledge as a tool for solving interesting problems in a team. I am engaged in self-development and programming.</p>
            </div>
            <div class="clear"></div>
        </div>


        <div class="section">
            <div class="sectionTitle">
                <h1>Experience</h1>
            </div>

            <div class="sectionContent">
                <h2>Rating AndroidApp</h2>
                <p class="subDetails">September 2019 - August 2020</p>
                <p>Development of an Android application for the device. Working with the MySQL database.</p>

                <h2>Cafe Web Java.</h2>
                <p class="subDetails">November 2020 - December 2020</p>
                <p>Working with Java Servlet, MySQL database, FreeMarker library. Implemented a dynamic directory with sending to the database, user registration, working with sessions for users and the administrator.</p>

                <h2>Web CV on PHP</h2>
                <p class="subDetails">January 2021 - Currently</p>
                <p>Working with Java Servlet, MySQL database, FreeMarker library. Implemented a dynamic directory with sending to the database, user registration, working with sessions for users and the administrator.</p>

            </div>
            <div class="clear"></div>
        </div>



        <div class="section">
            <div class="sectionTitle">
                <h1>Key Skills</h1>
            </div>

            <div class="sectionContent">
                    <h5>Java, Python, MySQL, HTML, CSS, PHP, C#, C++,  PostgreSQL, Golang, Bash, Docker, Git, OS Linux, OS Windows.</h5>

            </div>
            <div class="clear"></div><br>
        </div>


        <div class="section">
            <div class="sectionTitle">
                <h1>Education</h1>
            </div>

            <div class="sectionContent">

                <h2>School Lyceum No. 2</h2>
                <p class="subDetails">An in-depth study of mathematics. 2008 - 2019</p>

                <h2>Gubkin Russian State University of Oil and Gas</h2>
                <p class="subDetails">Information and analytical security systems. 2019 - Currently</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
</body>
</html>